.App {
  text-align: center;
}

#logo {
  
  width: 400px;
  padding: 2%;
}

.textBlocks {
  text-align: center;
  max-width: 100%;
}

.tit {
  font-size: 50px;
  margin-top: 7%;
  
}

.statement {
  font-size: 30px;
  margin-top: -20px;
}

.problem, .solution{
  display: inline-block;
  margin: 10px 25px;
  width: 40%;
}

.problem {
  border: 2px solid salmon;
}

.solution {
  border: 2px solid goldenrod;
}